/* external */
body {
  background-color: #74c69d;
}
#yamadapic {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 300%;
  text-align: left;
  background-color: #40916c;
}