body {
  background-color: azure;
}

.red {
  background-color: red;
  width: 1200px;
  height: 100px;
  position: fixed;
}
.blue {
  background-color: blue;
  width: 50px;
  height: 50px;
  position: absolute;
  direction: rtl;
}
